
.register-form {
    margin-top: 50px;
}

.register-header {
    margin-bottom: 20px;
}

.register-title {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.register-title input {
    margin-left: 10px;
    line-height: 150%;
    padding:3px 2px;
    outline: none;

}

.register-submit-button {
    width: 100%;
    padding: 10px 8px;
    background-color: rgb(150, 222, 247); 
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0;
    text-transform: uppercase;
    transition: all .2s;
}

.register-submit-button:hover {
    box-shadow: 1px 1px 7px #bdbdbd;
    transform: translateY(-3px);
    transition: all .2s;
}